*{
    color: #011f4b;
    /* rgb(01,31,75) */
    color: #03396c;
    /* rgb(03,57,108) */
    color: #005b96;
    /* rgb(0,91,150) */
    color: #6497b1;
    /* rgb(100, 151, 177) */
    color: #b3cde0;
    /* rgb(179,205, 224) */
    color: #ffffff;

    color: #cd6133;
    /* rgb(205, 97, 51) */
    color: #c23616;
    /* rgb(194, 54, 22) */
    color: #d35400;
    /* rgba(211, 84, 0,1.0) */
    color: #e67e22;
    /* rgba(230, 126, 34,1.0) */
    color: #f39c12;
    /* rgb(243, 156, 18) */
    color: #f1c40f;
    /* rgb(241, 196, 15) */

    color: #f7f1e3;
    /* rgb(247, 241, 227) */
    color: #d1ccc0;
    /* rgb(209, 204, 192) */
    color: #aaa69d;
    /* rgb(170, 166, 157) */
    color: #84817a;
    /* rgb(132, 129, 122) */
    color: #4d4c4a;
    /* rgb(77, 76, 74) */
}
/* #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0 */

